.about-us-content {
    padding: 2rem 0 1.8rem 0;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    @media (min-width: $brakepoint-mobile) {
        flex-direction: row;
    }
    
}

.about-us-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    padding-bottom: 1rem;

    @media (min-width: $brakepoint-mobile) {
        padding-bottom: 0;
    }

    @media (min-width: $brakepoint-tablet) {
        margin: 0;
    }
}

.about-us-content__text {
    color: $dark-grey;
    font-size: $font-size-small;
    text-align: justify;
    padding-bottom: 0.2rem;

    @media (min-width: $brakepoint-mobile) {
        padding-right: 2rem;
    }
    
}

.about-us-content__image {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
    text-align: center;

    @media (min-width: $brakepoint-mobile) {
        width: 40%;
        // padding: 0 1rem 0 0;
    }

    @media (min-width: $brakepoint-tablet) {
        width: 40%;
        height: 54.7rem;
        padding: 0;
    }
}

.desktop {
    display: none;

    @media (min-width: $brakepoint-mobile) {
        display: block;
    }
}

.mobile {

    @media (min-width: $brakepoint-mobile) {
        display: none;
    }
}